#box {
  height: 60px;
  width: 100%;
  background: rgb(255, 255, 255);
  margin-top: 20px;
}
#input {
  height: 100%;
  width: 90%;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 35px;
  text-align: right;
}
/* this is for the input type number remove arrow */
/* #input::-webkit-inner-spin-button,
#input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
} */
